#navbar{
    background-color: lightgreen;
    width: 100%;
    height: 200px;
    font-size: 20px;
    text-align: center;
 
}
#content{
    background-color: maroon;
    font-size: 20px;
    text-align: center;

}
ul{
    list-style: none;
}
.nav > .item2{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}
.nav > .item3{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}
.nav > .item4{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}
.nav > .item5{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}
.nav > .item6{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}
.nav > .item7{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}
.nav > .item8{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}
.nav > .item9{
    width: 100px;
    height: 100px;
    background-color:darksalmon;
    text-align: center;
}


.nav{
    display: flex;
    justify-content: space-evenly;
}
.item1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    
}
#footer{
    background-color: deeppink;
    width: 100%;
    height: 150px;
    font-size: 20px;
    text-align: center;
    
}